version: '2'
services:
  nginx:
    image: nginx:1.19.9
    network_mode: host
    restart: always
    volumes:
      - ./nginx/config/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/web:/web

  homebridge:
    # image: oznu/homebridge:latest
    build:
      dockerfile: Dockerfile.homebridge
      context: .
    container_name: homebridge
    restart: always
    network_mode: host
    environment:
      - TZ={{ time_zone }}
      - PGID=1000
      - PUID=1000
      - HOMEBRIDGE_CONFIG_UI=1
      - HOMEBRIDGE_CONFIG_UI_PORT=8581
        #devices:
        #- "/dev/ttyACM0:/dev/ttyACM0"
    volumes:
      - ./homebridge:/homebridge
        #    privileged: true
