SRV_MQTT_HOST={{ srv_dht_mqtt_config.mqtt_host | default("127.0.0.1") }}
SRV_MQTT_PORT={{ srv_dht_mqtt_config.mqtt_port | default("1883")}}
SRV_MQTT_USER={{ srv_dht_mqtt_config.mqtt_user | default("")}}
SRV_MQTT_PASS={{ srv_dht_mqtt_config.mqtt_pass | default("")}}
SRV_MQTT_DHT_PIN={{ srv_dht_mqtt_config.dht_pin | default("0")}}
