[Unit]
Description=zigbee2mqtt docker wrapper
Wants=docker.socket
After=docker.service

[Service]
ExecStartPre=-{{ docker_bin_dir }}/docker rm -f zigbee2mqtt
ExecStart={{ bin_dir }}/zigbee2mqtt
ExecStop={{ docker_bin_dir }}/docker stop zigbee2mqtt
Restart=always
RestartSec=15s
TimeoutStartSec=30s

[Install]
WantedBy=multi-user.target
