[Unit]
Description=zigbee2mqtt docker wrapper
Wants=docker.service
#After=docker.service

[Service]
Type=simple
ExecStartPre=-{{ docker_bin_dir }}/docker rm -f zigbee2mqtt
ExecStart={{ bin_dir }}/zigbee2mqtt
ExecStop={{ docker_bin_dir }}/docker stop zigbee2mqtt
Restart=always
RestartSec=5s
TimeoutStartSec=120s

[Install]
WantedBy=multi-user.target
